.clone {
	@clone-height: 50px;

	.transition(.6s ease-in-out top);

	position: fixed;
	top: -1000px;
	left: 0;
	right: 0;
	z-index: 999;

	.js-hideonscroll {
		display: none !important;
	}

	&.search-component {
		border-top: none;
		padding-top: 8px;
		padding-bottom: 8px;

		.form-group {
			margin-bottom: 0;
			margin-top: 6px;
		}

		.form-control {
			height: 30px;
		}

		.control-label {
			padding-top: 4px;
		}

		.btn {
			height: 30px;
			line-height: 1;
		}
	}

	&.navbar--custom {
		background: @stepstone-lightblue;

		// height: @clone-height;
		line-height: @clone-height;

		.container {
			// height: @clone-height;
		}

		.logo-holder {
			height: @clone-height;

			.nav-logo {
				width: auto;
				height: (@clone-height - 20);
			}
		}

		.btn--login {
			height: (@clone-height - 16);
			padding-top: 0;
			padding-bottom: 0;

			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;

			position: relative;

		}

		.nav {
			margin-right: 0 !important;

			> li > a {
				line-height: @clone-height;
				font-size: 16px;
				padding: 0 16px;
			}
		}

	}
}

