.footer {
	font-size: 12px;

	.social {
		margin: 13px auto 0 auto;
		width: 64px;
		overflow: hidden;

		li {
			border: none;
			padding: 0;
			padding-left: 8px;

			&:first-child {
				padding-left: 0;
			}

			img {
				width: 16px;
				height: 16px;
			}
		}
	}

	&-top {
		color: #fff;
		background: @stepstone-blue;


		a {
			color: #fff;
			-webkit-font-smoothing: antialiased;
		}

		ul {
			.clearfix;
			list-style: none;
			margin: 14px 0;
			padding: 0;

			li {
				border-left: 1px solid #475759;
				padding: 0 6px;
				float: left;

				&:first-child {
					border-left: none;
					padding-left: 0;
				}
			}
		}
	}

	&-middle {
		color: @stepstone-blue;
		font-size: 11px;

		background: @stepstone-lightblue;
		padding: 25px 0 16px;

		a {
			color: @stepstone-blue;
		}

	}

	&-bottom {
		color: @stepstone-blue;
		font-size: 10px;

		padding: 10px 0 18px;
	}
}

@media screen and (max-width: @container-sm) {
	.footer-top {

		ul {
			margin: 5px 0;

			li {
				.hidden-xs;

				&.visible-xs {
					.visible-xs-block;
					border: none;
					float: none;
					text-align: center;

					font-size: 14px;
				}
			}

			&.social {
				li {
					.visible-xs-inline-block;
				}
			}
		}

	}

	.footer-middle {
		.text {
			padding-top: 28px;
		}
	}

	.footer-bottom {
		font-size: 12px;

		.social-row {
			background: #fff;

			.social {
				margin: 0 auto 7px auto;
				width: 175px;
				overflow: visible;
				list-style: none;

				li {
					border: none;
					padding: 0;
					display: inline-block;


					margin-left: 10px;

					&:first-child {
						margin-left: 0;
					}

					img {
						width: 25px;
						height: 25px;
					}
				}
			}
		}
	}
}