@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
{

	.navbar-header,
	.navbar-collapse.collapse,
	.topbar
	{
		display: none !important;
	}

	.col-md-offset-1 {
		margin-left: 0;
	}

	.navbar--custom {
		.col-md-10 {
			width: 68.75%;
		}
	}

	.search-component {
		.component-header h1 {
			font-size: 29px;
		}

		.component-fields {
			> div {
				margin-bottom: 0;
			}
			.form-control {
				width: 169px;
			}
		}
	}
}