@media print {
	.navbar--custom,
	.footer,
	.search-component,
	.visible-xs,
	.visible-xs-block
	{
		display: none !important;
	}

	.container {
		width: 100%;
	}

	.site-content > .container {
		padding: 20px;
	}

	.col-sm-9 {
		width: 100%;
		display: table-footer-group !important;
		float: none;
	}
	.col-sm-9 + .col-sm-3 {
		display: table-header-group !important;
		float: none;
		width: 100%;
		position: static;

		* {
			display: none;
		}

		.logo-date-and-listing-actions,
		.logo-date-and-listing-actions .published
		{
			display: block !important;
		}

		.logo-date-and-listing-actions {
			display: table!important;
			padding: 0;
			margin-bottom: 0;

			.published {
				display: table-header-group !important;
				font-size: 18px;
				font-style: italic;
				padding: 0;

				strong {
					display: inline-block !important;
					font-weight: normal;
				}

				br {
					display: inline-block !important;
					content: ", ";
					font-style: normal;

					&:after {
						content: ", ";
						display: inline-block;
					}
				}
			}
		}
	}

	.listing {
		> .title {
			display: table-footer-group;
			line-height: 2em;
		}
		.logo-and-info {
			display: table-header-group;
			.info {
				font-size: 26px;
				margin-top: 5px;
				margin-bottom: 10px;

				br {
					display: inline-block !important;
					content: ", ";
					font-style: normal;

					&:after {
						content: ", ";
						display: inline-block;
					}
				}
			}
		}

		.company-about {
			padding: 0;
		}

		.section .link {
			padding-left: 0;
		}

		a.button {
			display: none;
		}
	}
}