.carousel-nav {
	width: 10px;
	height: 16px;
	position: absolute;
	top: 50%;
	margin-top: -8px;

	&--left {
		left: 10px;
		background: url('@{image-path}carousel-nav-left.png') 50% 50% no-repeat;
	}
	&--right {
		right: 10px;
		background: url('@{image-path}carousel-nav-right.png') 50% 50% no-repeat;
	}
}

.carousel-control {
	z-index: 100;

	&.left {
		width: 50px;
	}
	&.right {
		width: 50px;
	}
}

.carousel-indicators {
	bottom: 0;
	margin-bottom: 3px;
}

.carousel-caption {
	padding: 60px 50px 0 50px;
	left: 0;
	top: 0;
	right: auto;
	bottom: auto;
	max-width: 100%;
	font-family: @font-family-sans-serif;
	color: #fff;

	@media screen and (min-width: @screen-md) and (max-width: @screen-md-max) {
		padding-top: 45px;
	}
	@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
		padding-top: 30px;
	}

	text-align: left;

	&.no-shadow {
		text-shadow: none;
	}

	.statement {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;

		// This margin is the distance from the lower border line to e.g. the link button typically placed below a statement
		margin-bottom: 30px;

		@media screen and (min-width: @screen-md) and (max-width: @screen-md-max) {
			margin-bottom: 20px;
		}
		@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			margin-bottom: 10px;
		}

		h1, h2, h3, h4 {
			font-family: @font-family-brand;
			font-weight: normal;
			letter-spacing: -0.02em;
			line-height: 1;

			margin: 5px 0 10px 0;
		}

		h1 {
			font-size: 82px;
			color: #fff;
		}

		h2 {
			font-size: 50px;
			color: #fff;

			@media screen and (min-width: @screen-md) and (max-width: @screen-md-max) {
				font-size: 35px;
				margin-bottom: 7px;
				margin-top: 3px;
			}

			@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
				font-size: 25px;
				margin-bottom: 4px;
				margin-top: 1px;
			}
		}

		h3 {
			font-size: 40px;
		}

		h4 {
			font-size: 20px;
		}

		span {
			color: @stepstone-green;
		}

		p, li, a {
			font-size: 14px;

			@media screen and (min-width: @screen-md) and (max-width: @screen-md-max) {
				font-size: 12px;
			}

			@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
				font-size: 11px;
			}

			.large-text {
				font-size: 20px;

				@media screen and (min-width: @screen-md) and (max-width: @screen-md-max) {
					font-size: 18px;
				}

				@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
					font-size: 16px;
				}
			}
		}

		a {
			color: #fff;
			text-decoration: underline;
		}

		li {
			list-style: none;
			&:before {
				content: '\00bb';
				//display: block;

				//position: absolute;
				//left: -10px;
			}
		}

		p {
			font-weight: 300;
			letter-spacing: -0.02em;
			line-height: 1.3;

			margin: 0 0 5px 0;
			//width: 300px;

			@media screen and (min-width: @screen-md) and (max-width: @screen-md-max) {
				margin-bottom: 3px;
			}

			@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
				margin-bottom: 1px;
			}
		}
	}

	.btn-success, .btn-primary, .btn-default {
		font-size: 16px;

		padding-left: 20px;
		padding-right: 20px;
	}
}