/*div*/.category-component, .region-component {
	background: @stepstone-lightblue;
	margin-bottom: 30px;

	/*h2*/.title {
		margin-top: 17px;
		margin-bottom: 0px;
	}

	hr {
		border-color: #738ba0;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	/*div*/.categories {
		margin-bottom: 30px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			ul {
				display: none;
				margin-left: 18px;
			}

			li.has-children {
				font-size: 14px;
				line-height: 1.714285714;

			        &:before {
				        // Chrevron right
				        content: "\e080";
				        float: left;
				        display: block;

				        margin-right: 4px;

				        color: @stepstone-green;
				        font-family: "Glyphicons Halflings";
				        font-size: 14px;
			        }
		        }

			label.all-checkbox {
				font-weight: bold;
			}

		        li.is-open {
			        &:before {
				        // Chevron down
                                        content: "\e114";
			        }
                        }

		        li.is-open > ul {
			        display: block;
		        }
		}

		a {
			.clearfix;
			color: @stepstone-blue;
			font-size: 14px;
			line-height: 1.714285714;

			@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
				font-size: 12px;
			}
		}

		li.no-children {
            position: relative;
            padding: 0 0 0 10px;


			&:before {
				content: "»";
				position: absolute;
				left: 0px;
				color: @stepstone-green;
				font-family: Myriad Pro, Helvetica, sans-serif;
				font-size: 14px;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		label {
			.clearfix;
			color: @stepstone-blue;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.0;

			@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
				font-size: 12px;
			}
		}
	}
}

.region-component {
	// To align the region-component with the category component
	margin-top: -30px;
}

/**
 * Media Queries
 */
@media screen and (max-width: @container-sm) {
	.category-component, .region-component {
		.title {
			line-height: 70px;
			margin: 0;

			&.js-mobile-expander {
			    background-image: url('@{image-path}icon-mobile-frontpage-categories.png');
			    background-position: 100% 50%;
			    background-repeat: no-repeat;
			    background-size: 20px 13px;
			}
		}
		hr {
			display: none;
		}

		.categories {
			display: none;

			&.expanded {
				display: block;
			}
		}

	}
}
