/*div*/.imagelinkbox-component {
	margin-bottom: 10px;

	&.articles-page {
		margin-bottom: 30px;
	}

	h2 {
	   margin: 0;
	}

	h3 {
		color: @stepstone-blue;
		font-size: 22px;

		border-bottom: 1px solid #e5e7e8;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	/*div*/.header {
		a {
			font-size: 14px;
			line-height: 22px;

			@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
				font-size: 10px;
			}
		}
	}

	hr {
		.clearfix;
		border-color: #e5e7e8;
		margin-top: 9px;
		margin-bottom: 15px;
		float: left;
		clear: both;
		width: 100%;
	}

}
/*div*/.imagelinkbox {
	margin-bottom: 20px;

	h4 {
		font-family: @font-family-sans-serif;
		font-size: 16px;
		font-weight: bold;
		color: #2e4143;

		margin: 7px 0 5px 0;
	}

	p {
		font-size: 11px;
		line-height: 1.5;
		margin-bottom: 5px;
	}

	a {
		color: @stepstone-green;
		font-size: 12px;
	}

	&--large {
		&.articles-page {
			margin-bottom: 20px;
		}

		h4 {
			font-size: 22px;
		}
		p {
			font-size: 13px;
		}
		a {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: @container-sm) {
	/*div*/.imagelinkbox-component {
		//margin-bottom: 0;

		.title {
			font-size: 20px;
		}

		&.articles-page {
			margin-bottom: 0;
			hr {
				display: none;
			}

			.clear-left {
				clear: none !important;
			}

			/*div*/.mobile-carousel-holder {
				@itemWidth: 270px;
				@numberOfItems: 4;
				width: (@itemWidth * @numberOfItems);
			}
		}

		&.related-articles {
			margin: 0;
			/*div*/.mobile-carousel-holder {
				@itemWidth: 270px;
				@numberOfItems: 2;
				width: (@itemWidth * @numberOfItems);
			}
		}
	}

	.mobile-carousel {
		@itemWidth: 270px;
		@numberOfItems: 3;

		max-width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		padding-bottom: 10px;
		margin-bottom: 10px;

		/*div*/.mobile-carousel-holder {
			width: (@itemWidth * @numberOfItems);
		}

		/*div*/.imagelinkbox {
			float: left;
			width: @itemWidth;


			// For demo purposes only. You should never force a image to
			// be wider than it actually is. It's not pretty.
			/*img*/.img-responsive { max-width: none; width: 100%; }
		}
	}
}
