/*div*/.navbar--custom {
	background: #f6fafc;

	// height: 96px;
	line-height: 96px;

	margin-bottom: 0;


	/*div*/.container {
		position: relative;
		// height: 96px;
	}

	.logo-holder {
		display: block;
		height: 96px;
	}

	.narrow {
		padding: 0 20px;
	}

	.nav {
		float: right;
		margin-right: 32px !important;

		li {
			float: left;

			&.active {
				background: @stepstone-lightblue;
			}

			a {
				color: @stepstone-blue;
				font-family: @font-family-brand;
				font-size: 22px;
				line-height: 96px;
				-webkit-font-smoothing: antialiased;
				padding: 0 32px;

				@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
					font-size: 18px;
					padding: 0 20px;
				}

				&:hover,
				&:focus {
					background: none;
				}
			}
		}
	}

	/*button*/.btn--login {
		.transition(250ms ease-in-out);

		width: 100%;
		height: 46px;
		margin: 0;

		color: @stepstone-green;
		font-family: @font-family-brand;
		font-size: 22px;
		-webkit-font-smoothing: antialiased;

		background: #2e4143;

		&:hover {
			background: @stepstone-green;
			color: @stepstone-gray;
		}

		&:active {
			background: @stepstone-green;
			box-shadow: inset 0 2px 0 0 #659a4e;
			color: #fff;
		}
	}
}

/*img*/.nav-logo {
	width: 107px;

	position: absolute;
	bottom: 10px;
}

/*div*/.nav--secondary {
	display: none;

	background: @stepstone-lightblue;

	height: 40px;
	line-height: 1;

	&.active {
		display: block;
	}

	ul {
		display: none;

		line-height: 40px;
		list-style: none;
		margin: 0;
		padding: 0;

		&.active {
			display: block;
		}

		li {
			float: left;
			padding: 0 7px;
			position: relative;
			height: 40px;

			&:before {
				content: " ";
				display: block;

				width: 1px;
				height: 14px;
				border-left: 1px solid @stepstone-blue;

				position: absolute;
				left: -1px;
				top: 14px;
			}

			&:first-child {
				padding-left: 0;

				&:before {
					display: none;
				}
			}

			&.active {
				border-bottom: 4px solid @stepstone-green;
			}

			a {
				color: @stepstone-blue;
				font-size: 14px;
			}

			&.active a {
				color: @gray-dark;
			}
		}
	}
}


/*ul*/.navbar-nav {
	> li > a, a {
		line-height: 2.5;
	}

	> li {
		> ul {
			margin-bottom: 20px;

			a {
				font-size: 17px;
			}
		}

		> a {
			padding-top: 0;
			padding-bottom: 0;
			font-size: 20px;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 25px;
		display: none;

		ul {
			padding-left: 15px;
		}

		.active > a {
			&:before {
				content: "»";
				display: inline-block;
				margin-right: 4px;

				color: @stepstone-green;
				font-family: Myriad Pro, Helvetica, sans-serif;
				font-size: 14px;
			}
			font-weight: bold;
		}
	}
	.active > ul {
		display: block;
	}
}