/*div*/.search-component {
	border-top: 8px solid #062f55;
	background: @stepstone-blue;
	width: 100%;
	margin-bottom: 12px;

	* {
		-webkit-font-smoothing: antialiased;
	}

	&--frontpage {
		margin-bottom: 0;
	}

	&.simple {
		h1 {
			color: #fff;
			font-size: 28px;
			line-height: 36px;
			margin: 0;
			margin-right: 20px;
			padding: 0;
		}

		.component-fields {
			margin-bottom: 20px;
			margin-top: 17px;

			.form-control {
				margin-right: 20px;
				width: 264px;
			}
		}
	}

	&.collapsed {
		.hide-on-collapsed {
			display: none;
		}

		/*div.row*/.component-fields {
			// padding-top: 7px;
		}
	}

	/*div.row*/.component-header {
		line-height: 62px;

		h1 {
			&:extend(.color--white);

			font-weight: 300;
			line-height: 62px;

			margin: 0;
		}

		/*button.btn.btn-link*/.component-button--advanced {
			font-size: 14px;

			&:hover {
				&:extend(.color--white);
				text-decoration: underline;
			}

			&:visited {
				&:extend(.color--white);
			}
		}
	}

	.divider hr {
		border-color: #586769;
		margin-top: 5px;
		margin-bottom: 20px;
	}

	/*div.row*/.component-fields {

		margin-bottom: 25px;

		/*label*/.control-label {
			&:extend(.color--white);
			font-weight: normal;
			font-size: 16px;

			width: 55px;
			float: left;


			&.text-left {
				text-align: left;
			}
		}

		/*input*/.form-control {
			width: 245px;
			height: 36px;
		}

		/*button*/.btn-success {
			.transition(250ms ease-in-out);
		}

		.btn {
			font-size: 16px;
		}
	}

	/*div.row.hidden*/.component-fields--advanced {

	}

	.narrow {
		padding: 0 20px;
	}

	.narrow.frontpage {
		height: 157px;
		margin-top: -8px;
		padding-top: 28px;


		button:last-child {
			margin-bottom: 0;
		}
	}
}

.secondary-content {
	background: #ffffff;
	padding: 20px;
	// margin-left: -8px;
	// margin-right: -8px;


	/*button*/.btn {
		.transition(250ms ease-in-out);

		width: 100%;
		height: 46px;
		margin: 0;
		margin-bottom: 8px;

		color: #ffffff;
		font-family: @font-family-brand;
		font-size: 22px;
		-webkit-font-smoothing: antialiased;

		&--create-cv {
			background: @stepstone-blue;

			&:hover {
				background: #3d5f7f;
			}

			&:active {
				background: @stepstone-blue;
				box-shadow: inset 0 2px 0 0 #051626;
			}
		}

		&--add-job {
			background: @stepstone-orange;

			&:hover {
				background: #f5ae6d;
			}

			&:active {
				background: @stepstone-orange;
				box-shadow: inset 0 2px 0 0 #c27b3a;
			}
		}
	}
}

/*div*/.ad-block {
	margin: 0;
	text-align: center;

	img {
		border: 1px solid #bdc3c5;
		max-width: 100%;
	}

	&--frontpage {
		position: absolute;
	}
}


/**
 * Media Queries
 */
@media screen and (max-width: @screen-xs-max) {
	.search-component {

		> .container {
			padding: 0;
			&:before {
				display: none;
			}
			&:after {
				clear: none;
			}
		}

		&.search-component--frontpage > .container {
			padding: 0 10px;
		}

		.col-sm-9 > .pull-left {
			.make-xs-column(12);
			margin-bottom: 20px;

			.form-control {
				width: 100%;
			}
		}
		.col-sm-9 > h1.pull-left {
			border-bottom: 1px solid #586769;
			font-size: 27px;
			padding-bottom: 12px;
			margin: 0 10px 20px 10px;
			padding-left: 0;
		}
		.col-sm-3 {
			.narrow {
				padding: 0;
				.make-xs-column(12);
				margin-bottom: 20px;
			}
		}
		.component-header {
			h1 {
				font-size: 27px;
				line-height: 50px;
			}

			.component-button--advanced {
				display: none;
			}
		}

		&.simple .component-fields {
			margin-top: 7px;
			margin-bottom: 0;
		}

		.component-fields {
			> div {
				margin-bottom: @grid-gutter-width;
			}
			.form-control {
				width: 100%;
			}
		}

		.divider hr {
			margin-bottom: @grid-gutter-width;
		}

		.component-fields {
			margin-bottom: 0;
		}

	}
}
@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
	.search-component .component-fields .control-label.text-left {
		display: none;
	}
	.search-component .component-fields .form-control {
		width: 100%;
	}
	.search-component.simple .component-fields .form-control {
		width: 190px;
	}

	.secondary-content.ad-block {
		width: 158px;
	}
}

@media screen and (min-width: @screen-md) and (max-width: @screen-md-max) {
	.search-component .component-fields .form-control {
		width: 200px;
	}
	.search-component.simple .component-fields .form-control {
		width: 220px;
	}
	.secondary-content.ad-block {
		width: 213px;
	}
}
@media screen and (min-width: @screen-lg) {

	.secondary-content.ad-block {
		width: 263px;
	}

}

@media screen and (min-width: @screen-sm-min) and (max-width: @screen-md) {

	.search-component .component-header h1 {
		font-size: 35px;
	}
}