/*div*/.article {
	p {
		font-size: 13px;
		line-height: 22px;

		strong {
		}
	}

	// li {
	// 	font-size: 12px;
	// 	line-height: 22px;
	// }

	h1.title {
		margin-bottom: 20px;
	}

	h2 {
		margin-top: 20px;
		margin-bottom: 5px;
	}

	h3 {
		margin-bottom: 5px;
	}

	h4 {
		margin-bottom: 5px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 10px;

		li {
			position: relative;

			font-size: 13px;
			line-height: 1.272727273;
			margin-bottom: 6px;

			&:before {
				content: '\00bb';
				display: block;
				color: @stepstone-green;

				position: absolute;
				left: -10px;
			}
		}
	}
}

/*ul*/.side-nav {
	list-style: none;
	margin: 0;
	padding: 10px 0;
	background: #7c888b;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: none;

		a {
			font-size: 10px;
			padding-left: 20px;
		}

		a.active {
			color: @stepstone-lightgreen;
			position: relative;

			&:before {
				content: "»";
				display: block;
				position: absolute;
				left: 11px;
			}
		}
	}

	> li {

		&.active {
			background: #69777a;
			border-bottom: 1px solid @stepstone-gray-medium;

			> ul {
				display: block;
			}
		}

		> a {
			border-bottom: 1px solid #758184;
			padding-left: 17px;
		}
	}

	a {
		color: @stepstone-lightblue;
		font-size: 13px;
		line-height: 27px;
		display: block;


		&.active {
			border-color: #6f807c;
		}
	}
}

/*div*/.sponsor {
	font-size: 10px;
	font-style: italic;

	margin-top: 30px;

	p {
		margin: 0;
		padding: 0;
	}
}

/*div*/.article-info {
	.clearfix();
	font-size: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	line-height: 20px;

	time {
		font-weight: bold;
	}

	/*div*/.tags {
		float: right;

		> div {
			float: left;
			color: @stepstone-lightblue;

			background: @text-color;
			border-radius: 4px;

			padding: 0 6px;
			margin-left: 6px;
		}
	}

}


/*
Gray box with padding, to gain more focus in content areas
 */
/*div*/.content-block {
	background: #efefef;
	padding: 20px;

	h3 {
		color: @brand-success;
		font-size: 22px;
		font-weight: normal;
		margin: 0 0 15px 0;
		padding: 0;
	}

	p strong {
		font-size: 16px;
	}
}

@media screen and (max-width: @container-sm) {
	.article {
		img {
			.img-responsive;
		}

		ul {
			margin-left: 0;
			padding-left: 20px;
		}
	}

	.sponsor {
		margin-top: 0;
		margin-bottom: 20px;
	}
}