.component.popular-jobs {
	padding-bottom: 10px;

	hr {
		margin-bottom: 6px;
	}

	ul.newsticker li {
		margin-bottom: 6px;
	}
}

/*ul*/.newsticker {
	height: 0;
	margin-left: -10px!important;
	overflow: hidden;

	li {

		&:before {
			content:"" !important;
			display: none !important;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
		}

		margin: 0;
		padding: 0;

		a {
			.clearfix;
			border-bottom: 1px dotted #dddddd;
			display: block;
			padding: 4px @grid-gutter-width;
			position: relative;
			z-index: 1;

			-webkit-transition: background 200ms ease-in-out;
			-moz-transition: background 200ms ease-in-out;
			-ms-transition: background 200ms ease-in-out;
			-o-transition: background 200ms ease-in-out;
			transition: background 200ms ease-in-out;

			&:hover {
				background: darken(@stepstone-lightblue, 5%);
			}

			p {
				font-size: 10px;
				margin-bottom: 0;
			}

			.logo {
				float: left;
				margin-right: 10px;
				width: 86px;

				img {
					.img-responsive;
					display: block;
					max-height: 35px;
				}
			}
		}
	}
}

@media screen and (max-width: @container-sm) {
	iframe {
		display: block;
		margin-bottom: @grid-gutter-width;

		width: 100%;
		height: 170.4px; // dirty hack because we know the original width of the iFrame.
	}

	.forum-shortcuts {
		margin-left: -8px;
		margin-right: -8px;
	}
}