@button-border-radius: 4px;

/*div*/.listing-sidebar {

	.logo-date-and-listing-actions {
		background: #d7dbdc;
		padding: 10px;
	}

	/*div*/.company-logo {
		margin-bottom: 12px;
		img {
			width: 100%;
			height: auto;
		}
	}

	/*p*/.published {
		font-size: 13px;
		line-height: 1.5;

		strong {
			font-weight: 600;
		}
	}

	/*div*/.listing-buttons {
		// margin-bottom: 27px;

		/*a*/.btn--save-job {
			background: url('@{image-path}icon-btn-save-job.png') 10px 50% no-repeat #2e4143;

			color: #fff;
			font-size: 16px;
			line-height: 44px;

			border-radius: @button-border-radius;
			display: block;
			padding-left: 32px;
			padding-right: 16px;

			margin-top: @grid-gutter-width/2;

			-webkit-font-smoothing: antialiased;
		}
	}

}

/*div*/.listing {

        h2 {
		color: @stepstone-gray;
	}

	.title {
		margin-bottom: 20px;
		color: @stepstone-gray;
	}
	.logo-and-info {
		margin-bottom: @grid-gutter-width;

		.company-logo {
			display: none;
		}
	}

	/*div*/.section {
		/*h2*/.subtitle {
			font-family: @font-family-sans-serif;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.571428571;
			margin-top: 20px;

			-webkit-font-smoothing: antialiased;
		}

		p {
			font-size: 13px;
			line-height: 1.7;
		}

		ul {
			list-style: none;
			margin: 0 0 19px 15px;
			padding: 0;
		}

		li {
			font-family: @font-family-sans-serif;
			font-size: 13px;
			line-height: 1.533333333;
			position: relative;

			margin-top: 4px;
			margin-bottom: 4px;

			&:before {
				content: '\2022';
				display: block;
				position: absolute;
				left: -12px;
			}
		}

		/*div*/.link {
			font-size: 14px;
			font-weight: 600;
			line-height: 1.571428571;

			background: url('@{image-path}company-about-link.png') 0 50% no-repeat;
			display: block;
			padding-left: 20px;
		}
	}

	/*div*/.company-about {
		padding: 18px 25px 20px 25px;
	}

	a.button {
		background: url('@{image-path}icon-btn-apply-for-job.png') 10px 50% no-repeat @stepstone-green;

		background-color: @stepstone-green;
		color: #fff;
		font-size: 16px;
		line-height: 44px;

		border-radius: @button-border-radius;
		display: inline-block;
		padding-left: 32px;
		padding-right: 16px;


		-webkit-font-smoothing: antialiased;
	}

	/*a*/.btn--save-job {
		background: url('@{image-path}icon-btn-save-job.png') 10px 50% no-repeat #2e4143;

		color: #fff;
		font-size: 16px;
		line-height: 44px;

		border-radius: @button-border-radius;
		display: block;
		padding-left: 32px;
		padding-right: 16px;

		margin-top: @grid-gutter-width/2;

		-webkit-font-smoothing: antialiased;
	}
}

/*div*/.listing-sidebar--right {
	.secondary-content {
		padding-top: 8px;
	}

	/*div*/.job-location {
		background: @stepstone-lightblue;
		padding: 10px;

		/*p*/.title {
			border: none;
			padding: 5px 0 6px 0;
			margin: 0;
		}

		/*p*/.city {
			font-size: 13px;
			font-weight: 300;

			margin: 0;
			padding: 5px 0;
		}
		.map_canvas {
			width: 100%;
			min-height: 160px;
		}

	}

	/*div*/.company-other-jobs {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			padding-left: 6px;
		}

		li {
			font-size: 12px;
			font-weight: 600;
			line-height: 1.272727273;
			margin-bottom: 6px;
			position: relative;

			&:before {
				content: '\203A';
				display: block;
				position: absolute;
				left: -6px;

				color: @stepstone-green;
				font-size: 11px;
			}
		}
	}

	/*div*/.share {
		.clearfix;

		font-size: 10px;
		line-height: 1.7;
		text-transform: uppercase;

		-webkit-font-smoothing: antialiased;

		span {
			float: left;
		}

		img {
			display: block;
			float: left;
			margin-left: 8px;
			margin-bottom: 8px;

			width: 16px;
			height: 16px;
		}
	}
}

@media screen and (max-width: @container-sm) {

	.listing {
		.title {
			margin-bottom: @grid-gutter-width;
		}

		.logo-and-info {
			display: -webkit-flex;
			display: flex;

			-webkit-flex-direction: row;
			flex-direction: row;

			margin-bottom: @grid-gutter-width;
			font-size: 18px;

			.company-logo {
				display: block;

				-webkit-flex: 0 1 86px;
				-ms-flex: 0 1 86px;
				flex: 0 1 86px;

				margin-right: @grid-gutter-width/2;
			}
		}

		.section {
			.subtitle {
				color: @text-color;
				font-size: 16px;
			}

			li, p {
				font-size: 14px;
			}
		}

		.company-about {
			padding: 10px;

			.subtitle,
			li,
			p {
				font-size: 14px;
			}

			.link {
				font-size: 16px;
			}
		}

		a.button {
			display: block;
			width: 100%;
		}

	}
	.component--lightblue {
		.title {
			font-size: 18px;
		}

		&.company-other-jobs {
			li {
				font-size: 14px;
			}
		}

		&.job-location {
			.city {
				font-size: 14px;
			}
		}
	}

	.listing-sidebar--right {
		.narrow {
			width: 100%;
		}
		.share {
			font-size: 14px;
			margin-bottom: 16px;

			img {
				width: 32px;
				height: 32px;
				margin-left: 16px;
			}
		}

	}
}

