@media screen and (max-width: 480px) {
	html,
	body {
	  overflow-x: hidden; /* Prevent scroll on narrow devices */
	}
}
.navbar-collapse.collapse {
	display: none !important;

	&.in {
		display: block !important;
	}
}
.navbar-header {
	height: 54px;
	line-height: 54px;
	position: relative;

	.navbar-toggle {
		border-radius: 0;
		outline: 0;
		float: none;
		margin: 0;
		padding: 0;
		width: 49px;
		height: 54px;

		background: url('@{image-path}menu-bars.png') 50% 50% no-repeat;
		background-size: 17px 14px;

		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.navbar-brand {
		float: none;
		display: block;
		width: 100%;
		height: 54px;
		text-align: center;

		padding-top: 10px;

		img {
			width: 71px;
		}
	}

	.navbar-login {
		border: none;
		border-radius: 0;
		outline: 0;
		float: none;
		margin: 0;
		padding: 0;
		width: 46px;
		height: 54px;

		background: url('@{image-path}padlock.png') 50% 45% no-repeat;
		background-size: 14px 17px;

		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
}