.carousel-and-menus {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}

.carousel-subfront {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;

	.carousel-inner .item > img {
		max-width: none;
		width: 100%;
		height: auto;
	}
}

.subfront-menus {
	width: 245px;

	@media screen and (min-width: @screen-sm-min) {
		width: 200px;
	}

	float: left;
	background: #7c888b;
	padding-right: 0;
	margin-right: 0;
}

/*ul*/.four-steps {
	.clearfix;

	list-style: none;
	margin: 0;
	padding: 10px 0 0 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0 0 25px 0;
	}

	> li {
		float: left;
		width: 25%;
		position: relative;
		padding: 5px 10px;

		> a {
			// Headline
			color: @stepstone-lightgreen;
			font-size: 20px;
			-webkit-font-smoothing: antialiased;

			@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
				font-size: 16px;
			}
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			right: 2px;
			top: 15px;
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;

			border-left: 15px solid @stepstone-gray-medium;
		}

		&:after {
			content: "";
			display: block;
			width: calc(100% - 4px);
			background: @stepstone-gray-medium;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;

		}

		&:first-child:after {
			border-radius: 0 0 0 10px;
		}

		&:last-child:after {
			width: 100%;
			border-radius: 0 0 10px 0;
		}

		a, ul {
			position: relative;
			z-index: 1;
		}

		ul a {
			color: #fff;
			font-size: 14px;
			-webkit-font-smoothing: antialiased;

			@media screen and (min-width: @screen-sm) and (max-width: @screen-sm-max) {
				font-size: 12px;
			}

			&:before {
				content: "»";
				display: inline-block;
				margin-right: 4px;

				color: @stepstone-green;
				font-family: Myriad Pro, Helvetica, sans-serif;
				font-size: 14px;
			}
		}
	}
}


@media screen and (max-width: @container-sm) {
	/*ul*/.four-steps {

		ul {
			padding-bottom: 0px;
		}

		> li {
			float: none;
			width: 100%;
			position: relative;
			padding: 5px 10px;
			background: @stepstone-gray-medium;
			margin-bottom: 20px;

			&:before {
				right: auto;
				left: 50%;
				margin-left: -8px;
				top: auto;
				bottom: -15px;

				border: none;

				border-left: 15px solid transparent;
				border-right: 15px solid transparent;

				border-top: 15px solid @stepstone-gray-medium;
			}

			&:last-child {
				margin-bottom: 0;

				&:before {
					display: none;
				}

			}

			&:after {
				display: none;
			}

			ul a {
				color: #fff;
				font-size: 18px;
				line-height: 2;

				&:before {
					font-size: 18px;
				}
			}

		}
	}
}